/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~@ng-select/ng-select/themes/default.theme.css";

@import '~bootstrap/scss/bootstrap';
@import "theme.scss";
@import '~ng-wizard/themes/ng_wizard.min.css';

body {
  background-color: #fcfcfc;
  display: block;
  margin: 1rem auto;
  padding: 0 16px;
  // max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.error-message {
  color: $red !important;
}




// .btn {
//   padding: $input-btn-padding-y $input-btn-padding-x;
// }